<div class="jumbotron">
    <h1 class="text-center">
        Welcome to Contatooh
    </h1>
</div>
<p ng-show="mensagem.texto">
    {{mensagem.texto}}
</p>
<a ng-href="#/contato" class="btn btn-primary">
    Novo Contato
</a>
<input ng-model="filtro" type="search" placeholder="parte do nomes"/>
<p ng-show="contatos.length">Contatos Cadastrados: {{contatos.length}}</p>
<p class="text-info" ng-hide="contatos.length">Nenhum contato cadastrado!</p>
<div class="table-responsive">
    <table class="table table-hover">
        <tr>
            <th>NOME</th>
            <th>EMAIL</th>
            <th>EMERGENCIA</th>
            <th class="text-center"></th>
        </tr>
        <tr ng-repeat="contato in contatos | filter: filtro">
            <td>
                <a ng-href="#/contato/{{contato._id}}">{{contato.nome}}</a>
            </td>
            <td>
                {{contato.email}}
            </td>
            <td>
                <a ng-href="#/contato/{{contato.emergencia._id}}">{{contato.emergencia.nome}}</a>
            </td>
            <td class="text-center">
                <button ng-click="remove(contato)" class="btn btn-warning">
                    Remover
                </button>
            </td>
        </tr>
    </table>
</div>